{
  "arrowParens": "avoid",
  "printWidth": 100,
  "tabWidth": 4,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "strict",
  "endOfLine": "auto"
}
