@import '../fonts/fonts-shared.css';

@font-face {
    font-family: 'PT Mono';
    font-weight: 400;
    src: url(../fonts/files/PTM55F.ttf);
}

@font-face {
    font-family: 'PT Mono';
    font-weight: 600;
    src: url(../fonts/files/PTM75F.ttf);
}
